# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


integration-options/vertex-ai-rest-interface/tensile-axiom-403416-3843df8cede8.json
integration-options/vertex-ai-sdk/tensile-axiom-403416-3843df8cede8.json
genai-bot/src/main/resources/application-local.yml
integration-options/palm-api-client-library/.idea/gradle.xml
integration-options/palm-api-client-library/.idea/misc.xml
integration-options/palm-api-client-library/.idea/vcs.xml
integration-options/palm-api-rest-interface/.idea/gradle.xml
integration-options/palm-api-rest-interface/.idea/misc.xml
integration-options/palm-api-rest-interface/.idea/vcs.xml
integration-options/vertex-ai-rest-interface/.idea/gradle.xml
integration-options/vertex-ai-rest-interface/.idea/misc.xml
integration-options/vertex-ai-rest-interface/.idea/vcs.xml
integration-options/vertex-ai-sdk/.idea/gradle.xml
integration-options/vertex-ai-sdk/.idea/misc.xml
integration-options/vertex-ai-sdk/.idea/vcs.xml
integration-options/palm-api-client-library/.idea/.gitignore
integration-options/palm-api-rest-interface/.idea/.gitignore
integration-options/vertex-ai-rest-interface/.idea/.gitignore
integration-options/vertex-ai-sdk/.idea/.gitignore
integration-options/vertex-ai-rest-interface/src/main/resources/tensile-axiom-403416-3843df8cede8.json
integration-options/vertex-ai-sdk/src/main/resources/tensile-axiom-403416-3843df8cede8.json
genai-bot/src/main/resources/tensile-axiom-403416-bffebab75441.json
genai-bot/end/src/main/resources/application-local.yml
genai-bot/end/src/main/resources/tensile-axiom-403416-bffebab75441.json
genai-bot/start/src/main/resources/tensile-axiom-403416-bffebab75441.json
genai-bot/start/src/main/resources/application-local.yml
